// Navigation code here
header
{
    .nav-bar
    {
        .flex(column, center, center);
        color: @nav-font;
        nav
        {
            .flex(row, space-between);
            width: 450px;
            transition: width 0.34s linear, opacity 1s linear;
            opacity: 1;
            padding: 0 350px;
            box-sizing: content-box;
            a
            {
                font-weight: 800;  
            }
            @media screen and  @tablet 
            {
                width: 400px;
                padding: 0 200px;
            }
            @media screen and @phone
            {
                width: 100%;
                max-width: 400px;
                padding: 0;
            }
        }
        h1
        {
            margin: 3% 0;
        }
    }
    img
    {
        margin: 2% 0;
        width: 100%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 800px !important;
    display: block;
    padding: 1%;
    opacity: 0.8 !important;
    @media screen and  @tablet 
    {
        width: 600px !important;  
    }
    @media screen and @phone
    {
        width: 100% !important;
    }
  }


  #navbar {
    overflow: hidden;
    background-color: @nav-bg;
  }